#p_title{
    font-size: 1.5rem;
    position: relative;
    margin: 10px;
}

#first_box{
    border: 1px solid #000;
    height: 935px;
    width: 80%;
    float: left;
    box-sizing: border-box;
    position: relative;
}

#second_box{
    border : 1px solid #000;
    height : 800px;
    width : 85%;
    margin: 0 auto;
    margin-top: 5%;

}

#third_box{
    border : 1px solid #000;
    height : 700px;
    width : 90%;
    margin: 0 auto;
    margin-top: 2%;
}

#top_box{
    border : 1px solid #000;
    height : 150px;
    width : 100%;
    margin: 0 auto;
    position: relative;
}

#bottom_box{
    border : 1px solid #000;
    height : 548px;
    width : 100%;
    margin: 0 auto;
    position: relative;
}
