
/* font-family: 'Nanum Myeongjo', serif; 한글*/
/* font-family: 'Raleway', sans-serif; 영어*/
/* font-family: 'Inconsolata', monospace; 타이틀 영어 */
/*리스트는 최대 5개까지 보임*/
body{width: 70%; margin: 0 auto;}
header{width: 15%;height: 935px; background-color:#25211e;float: left;position: relative;}
header p{position: absolute; bottom: 0;left: 25%;font-family: 'Inconsolata', monospace; font-size: 0.8rem;color: #fff;}
#admin_page{width: 100%;height: 935px;}
p{font-family: 'Nanum Myeongjo', serif}
.left_side li, .left_side_logo li{font-family: 'Nanum Myeongjo', serif;font-weight: 300;padding: 20px;margin: 5px 0;text-align: center;font-size: 1.1rem;}
.left_side_logo img{width:100%}
.left_side li:hover  {animation: li_hover 1s forwards;color: #000;}
.left_side li:hover a{color: #000;font-weight: bold;}
@keyframes li_hover{
    0%{}
    100%{background-color: #fff;}
}

#first_top{border: 1px solid #000;height: 337px;width: 80%;float: left;box-sizing: border-box;position: relative;}

.more_btn   {position: absolute;bottom: 5px;right: 15px;z-index: 3;}
.more_btn a {color: #000;}
.order      {height: 300px;position: relative;overflow: hidden;}
.order ul   {border-bottom: 1px solid rgb(151, 124, 124);}
.order p        {font-size: 1.5rem; position: relative;margin: 10px;}
.order_list     {
    width: 95%;
    display: flex;
    font-family: 'Nanum Myeongjo', serif;
    flex-wrap: nowrap;
    justify-content:space-around;
    margin: 0 auto;
    font-size: 0.9rem;
    }
.result_list li:nth-of-type(2){
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    padding: 10px 0;
    padding-left: 70px;
}

.order_list li  {padding: 10px 30px;}

#shipping_border, #analytics,#QA_border, #notice{position: relative;width: 40%;height: 300px;border: 1px solid #000;box-sizing: border-box;float: left;}

.result_list, .order_result_list {margin-top: 10px;font-size: 0.8rem;}

#shipping_list li   { float: left;padding: 48px;}
#shipping_list li:nth-of-type(1) p{margin-top: 5px;}
#shipping_list li:nth-of-type(2) p{margin-top: 20px;}

#shipping_list p     {text-align: center;}

#shipping_list_num li{float:left; margin: 0 15%;position: relative;cursor: pointer;}
#QA_bar {height: 260px;}
.order p::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 15%;
    height: 1px;
    width: 80%;
    background-color: #000;
}
#QA_bar p::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 35%;
    height: 1px;
    width: 50%;
    background-color: #000;
}
#notice_bar p::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    height: 1px;
    width: 70%;
    background-color: #000;
}
#shipping_list_num li:hover::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 20px;
    background-color: #000;
}